/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600&family=Roboto:wght@100;300;400;500&display=swap");
@font-face {
  font-family: "Star Shield";
  src: url("../fonts/Star\ Shield.ttf");
}

/* RESET USER AGENT VALUES  */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* VARIABLES */

:root {
  /* Colors */

  --f-clr: white;
  --alt-f-clr: black;
  --bg-clr: black;
  --alt-clr: #c00100;
  --sec-alt-clr: #ff1f1f;

  /* Fonts */
  --heading-f: "Star Shield", monospace, sans-serif;
  font-family: sans;
  --paragraph-f: "Roboto", sans-serif;
  --alt-font-family: "Raleway", sans-serif;
}

/* MOBILE FIRST */

body {
  color: var(--f-clr);
  font-family: var(--paragraph-f);
  display: grid;
  grid-template-areas:
    "sidebar"
    "sort"
    "main"
    "pagination"
    "footer";
}

img {
  display: block;
  width: 100%;
}

/* SIDEBAR */

.bar {
  background-color: var(--alt-clr);
  display: flex;
  align-items: center;
  gap: 0.3em;
  padding: 1em;
  grid-area: sidebar;
}

ul {
  display: none;
  list-style: none;
  font-size: 1.5rem;
}

h1 {
  font-family: var(--heading-f);
  letter-spacing: 1.5px;
  font-size: 1.6rem;
}

.brand {
  display: flex;
  align-items: center;
  gap: 0.3em;
}

.burger-bars {
  margin-left: auto;
}

/* Sort component */

.sort {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 1em;
  font-size: 1.2rem;
  padding: 1em 2em;
  background-color: var(--bg-clr);
  grid-area: sort;
}

.sorting {
  background-color: white;
  height: 2.5rem;
  border-radius: 0.5rem;
  outline: none;
  cursor: pointer;
  font-size: 1.3rem;
}

/* CARDS */

main {
  grid-area: main;
}

.cards-grid {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  margin-top: 1em;
  gap: 2em;
  grid-area: card-grid;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  color: var(--alt-f-clr);
  width: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
  gap: 0.5em;
  padding: 1em 0.5em;
}

h2 {
  text-align: center;
  flex: 1 1 0;
}

.card > * {
  flex-grow: 1;
}

.card-img {
  padding: 0.3em;
  flex-grow: 1;
}

.card-img img {
  border-radius: 5%;
  object-fit: cover;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px;
  height: 100%;
}

.price-tag {
  border: 3px solid var(--alt-f-clr);
  padding: 0.5em;
  border-radius: 5px;
  flex-grow: 0;
}

.btn {
  background-color: var(--alt-clr);
  outline: none;
  border: none;
  color: white;
  padding: 0.8em;
  border-radius: 0.5em;
  width: 50%;
  font-weight: 600;
  flex-basis: 0;
  font-size: 1rem;
}

/* Pagination */

.pagination {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  padding: 1.5em;
  gap: 5px;
  background-color: white;
  align-items: center;
  grid-area: pagination;
}

button {
  border: none;
}

.arrow-btn,
.link {
  font-size: 1.2rem;
  text-decoration: none;
  background-color: var(--alt-clr);
  color: var(--f-clr);
  padding: 0.3em;
  border-radius: 5px;
}

.links {
  display: flex;
  gap: 5px;
  font-weight: 700;
}

button:hover,
.link:hover {
  background-color: var(--alt-f-clr);
  cursor: pointer;
}

/* FOOTER */

footer {
  background-color: var(--alt-clr);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  gap: 0.5em;
  grid-area: footer;
}

footer p {
  font-weight: 700;
  text-align: center;
}

.social-icons i {
  margin-left: 5px;
}

.social-icons a {
  color: white;
}

/* MEDIA QUERIES */
/* DESKTOP VERSION */

@media screen and (min-width: 576px) {
  body {
    grid-template-areas:
      "sidebar sort"
      "sidebar  main"
      "sidebar main"
      "footer pagination";
    grid-template-columns: 2fr 10fr;
  }

  /* CARDS */
  .cards-grid {
    grid-template-columns: repeat(4, 1fr);
    margin-bottom: 1em;
    padding: 1em;
  }

  /* BAR */
  .bar {
    flex-direction: column;
  }

  .brand {
    gap: 0.5em;
  }

  .burger-bars {
    display: none;
  }

  ul {
    display: flex;
    flex-direction: column;
    margin-top: 3em;
    gap: 1em;
    text-align: center;
  }

  ul a {
    text-decoration: none;
    color: var(--f-clr);
  }

  ul a:hover {
    font-size: 2rem;
    transition: 0.5s;
  }

  /* FOOTER */
  footer {
    border-top: 2px solid black;
  }
}
